<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pioneer Denim Limited</title>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <style>
        body {
            padding-top: 70px;
        }

        .footp {
            margin-right: 20px;
        }
    </style>
    @RenderSection("styles", false)
</head>
<body>
    @Html.Partial("_NavbarPartial")

    <div class="container-fluid" style="min-height:calc(100vh - 140px)">
        @RenderBody()
    </div>
    <div class="container-fluid">
        <hr />
        <p class="text-center">&copy; @DateTime.Now.Year - PDL Task Application. &nbsp;&nbsp; Created By: Anamul Haque Sohel. &nbsp;&nbsp; ID: 1264855</p>
    </div>
    @RenderSection("scripts", false)
</body>
</html>