<nav class="navbar navbar-expand-md navbar-dark bg-dark border-bottom-1 fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img class="logo" src="~/Content/images/logo.png" />Pioneer Denim Limited</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-md-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    @Html.ActionLink("using-MVC", "Index", "Home", new { }, new { @class = "nav-link active" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Departments", "Index", "Departments", new { }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Retailers", "IndexV2", "Departments", new { }, new { @class = "nav-link" })
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Create New
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li> @Html.ActionLink("Create New Department", "Create", "Departments", new { }, new { @class = "dropdown-item" })</li>
                        <li><hr class="dropdown-divider"></li>
                        <li> @Html.ActionLink("Create New Retailer", "Create", "Retailers", new { }, new { @class = "dropdown-item" })</li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>